<h2
  class='x-call-to-action-title h1'
  data-dot-matrix
  data-dot-matrix-polarity='inverted'
  data-text-clip-reveal
  data-text-clip-reveal-per='character'
  data-text-clip-reveal-stagger-noise='0.2'
>
  {{ children }}
</h2>

{% stylesheet %}
  .x-call-to-action-title {
    --color: white;
    --text-align: center;
    letter-spacing: -0.1em !important;
    font-size: max(var(--font-size--h1), 14lvw) !important;
    line-height: 0.7 !important;

    max-width: 10ch;
    mix-blend-mode: difference;
  }
{% endstylesheet %}
