<div class='x-call-to-shop'>
  <a
    href='{{ url | default: shop.url }}'
  >
    {% render 'x-button-arrowed', before: 'Shop', after: 'Now' %}
  </a>
</div>

{% stylesheet %}
  .x-call-to-shop {
    --top: calc(0px);

    position: sticky;
    top: 0;
    margin-top: calc(-100lvh - -1 * var(--top));
    margin-bottom: calc(-1 * var(--top));
    height: 100lvh;

    padding-block: 96px;
    padding-inline: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    pointer-events: none;

    z-index: 20;
  }
{% endstylesheet %}
