<div class='x-header-logo variant/{{ variant }}'>
  <div class='header-logo-container'>
    {% render 'x-brand-logo' %}
  </div>
</div>

{% stylesheet %}
  .x-header-logo {
    :root:has(&) {
      --x-header-logo-width: 128px;
      --x-header-logo-height: 256px;
    }
    width: var(--x-header-logo-width);
    height: var(--x-header-logo-height);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    z-index: 50;

    pointer-events: none;

    mix-blend-mode: difference;
    filter: invert(1);

    :root:not(:has(.x-header-logo-variant-provider)) &.variant\/,
    :root:has(.x-header-logo\:variant\/forehead) &,
    &.variant\/forehead {
      position: fixed;
      top: 0;
      left: 50%;
      translate: -50% 0;
    }

    :root:has(.x-header-logo\:variant\/chin) &,
    &.variant\/chin {
      position: sticky;
      margin-top: calc(100lvh - var(--x-header-logo-height));
      margin-bottom: -100lvh;
      top: 0;
      left: 50%;
      translate: -50% 0;
    }

    :root:has(.x-header-logo\:variant\/temple) &,
    &.variant\/temple {
      position: fixed;
      top: -96px;
      left: -32px;
    }

    & .header-logo-container {
      width: auto;
      height: 32px;

      display: flex;

      pointer-events: auto;
    }
  }
{% endstylesheet %}
