<div
  class='x-product-card-thumbnail'
  data-carousel
>
  {% if product.media.size > 1 %}
    <div
      class='product-card-thumbnail-indicators'
      data-intersection
      data-indices
    >
      {% for media in product.media %}
        <button
          class='product-card-thumbnail-indicator'
          data-carousel-indicator='{{ forloop.index0 }}'
          aria-label='View product media {{ forloop.index }}'
        ></button>
      {% endfor %}
    </div>
  {% endif %}
  <div
    class='product-card-thumbnail-container'
    data-carousel-content
  >
    {% for media in product.media %}
      <div
        class='product-card-thumbnail-item'
        data-carousel-item
      >
        <a
          href='{{ product.url }}'
          ref='cardGalleryLink'
          class='product-card-thumbnail-link'
          aria-label='View {{ product.title }}'
        >
          {% render 'x-media', media: media %}
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{% stylesheet %}
  .x-product-card-thumbnail {
    position: relative;
    overflow: clip;

    & .product-card-thumbnail-indicators {
      position: absolute;
      top: 2px;
      inset-inline: 0;

      display: flex;
      gap: 2px;
      justify-content: center;

      mix-blend-mode: difference;
      z-index: 10;

      & .product-card-thumbnail-indicator {
        border: none;
        padding: 0;

        position: relative;

        border-radius: 9999px;
        width: 4px;
        height: 4px;

        border: 1px solid white;
        background: transparent;
        transition-property: background;

        cursor: crosshair;

        transition-property: scale;
        transition-timing-function: var(--ease-in-out);
        transition-delay: calc(var(--index) * 0.1s);

        &::after {
          content: '';
          position: absolute;
          inset: -2px;
          border-radius: 9999px;
        }

        &[data-carousel-indicator-selected] {
          background: white;
        }
      }
      &:not([data-intersection-visible]) .product-card-thumbnail-indicator {
        scale: 0;
        transition-delay: 1s;
        transition-duration: 0s;
      }
    }

    & .product-card-thumbnail-container {
      display: flex;

      & .product-card-thumbnail-item {
        aspect-ratio: 2 / 3;
        background: var(--color-background);

        & .product-card-thumbnail-link {
          display: contents;

          & img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
{% endstylesheet %}
