<div class='x-separator-description h6 variant/{{ variant | default: 'overline' }}'>
  <div class='separator-description-text'>
    {{ children }}
  </div>
</div>

{% stylesheet %}
  .x-separator-description {
    position: relative;
    display: flex;
    justify-content: flex-end;

    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      max-width: 300px;
      border-top: 1px solid currentColor;
    }
    &.variant\/overline ::before {
      top: 0;
    }
    &.variant\/underline ::before {
      bottom: 0;
    }

    & .separator-description-text {
      padding-block: 8px;
      max-width: 20em;
    }
  }
{% endstylesheet %}
