{% capture background %}
  {% content_for 'block', type: 'image', id: 'background' %}
{% endcapture %}

<section class='x-collection-hero'>
  <div class='collection-background'>
    {{ background }}
  </div>
</section>

{% stylesheet %}
  .x-collection-hero {
    position: relative;
    min-height: 50lvh;

    & .collection-background {
      & * {
        width: 100%;
        height: 100%;
      }

      & img {
        object-fit: fill;
        height: 100%;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Collection: Hero",
  "class": "slot",
  "blocks": [{ "type": "image" }],
  "settings": [],
  "presets": [
    {
      "name": "Collection: Hero",
      "category": "Collection",
      "blocks": [
        {
          "type": "image",
          "id": "background",
          "name": "Background",
          "static": true
        }
      ]
    }
  ]
}
{% endschema %}
