{% capture background %}
    {% content_for 'block', type: 'image', id: 'background' %}
{% endcapture %}

{% capture tagline %}
    {% content_for 'block', type: 'text', id: 'tagline' %}
{% endcapture %}

{% capture countdown %}
    {% content_for 'block', type: 'x-brand-countdown', id: 'countdown' %}
{% endcapture %}

<section class='x-home-hero'>
  <div class='hero-background'>
    {{ background }}
  </div>
  <div class='hero-overlay'>
    <div
      class='hero-info'
    >
      <div
        class='hero-tagline h5'
        data-text-clip-reveal
        data-text-clip-reveal-obscured
      >
        {{ tagline }}
      </div>
      <div class='hero-countdown'>
        {{ countdown }}
      </div>
    </div>
  </div>
</section>

{% stylesheet %}
  .x-home-hero {
    position: relative;
    min-height: 50lvh;

    display: grid;
    grid-template-areas: 'a';
    font-weight: 500;

    & .hero-background {
      grid-area: a;

      & * {
        width: 100%;
        height: 100%;
      }

      & img {
        object-fit: fill;
        height: 100%;
      }
    }

    & .hero-overlay {
      grid-area: a;

      padding: 16px;
      display: grid;

      & {
        grid-template-areas:
          '. . .'
          '. . info'
          '. . .';
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
      @media (width < 768px) {
        grid-template-areas:
          '. .'
          '. info'
          '. .';
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
      @media (width < 640px) {
        grid-template-areas:
          '.'
          'info'
          '.';
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }

      & .hero-info {
        grid-area: info;
        display: flex;
        flex-direction: column;
        gap: 32px;

        color: white;
        mix-blend-mode: difference;

        & .hero-tagline {
          display: flex;
          flex-direction: column;

          @media (width < 640px) {
            /* align-items: center;
            text-align: center;
            --text-align: center; */
          }
        }

        & .hero-countdown {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Home: Hero",
  "class": "slot",
  "blocks": [
    {
      "type": "text"
    },
    { "type": "image" },
    { "type": "x-brand-countdown" }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Home: Hero",
      "category": "Home",
      "blocks": [
        {
          "type": "image",
          "id": "background",
          "name": "Background",
          "static": true
        },
        {
          "type": "text",
          "id": "tagline",
          "name": "Tagline",
          "static": true
        },
        {
          "type": "x-brand-countdown",
          "id": "countdown",
          "static": true
        }
      ]
    }
  ]
}
{% endschema %}
