{% capture video %}
  {% content_for 'block', type: 'video', id: 'video' %}
{% endcapture %}

<section class='x-solo-video'>
  {% render 'x-interlude-cover', children: video, amplitude: section.settings.amplitude %}
</section>

{% stylesheet %}
  .x-solo-video {
    display: contents;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Solo: Video",
  "class": "slot",
  "blocks": [
    {
      "type": "video"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "range",
      "id": "amplitude",
      "label": "Amplitude",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "default": 0.2
    }
  ],
  "presets": [
    {
      "name": "Solo: Video",
      "category": "Solo",
      "blocks": [
        {
          "type": "video",
          "id": "video",
          "static": true
        }
      ]
    }
  ]
}
{% endschema %}
