@layer base {
  [data-pagination] {
    position: relative;

    & [data-pagination-slot] {
      &:not([data-pagination-slot-hydrated]) {
        position: absolute;
        height: 100lvh;
        left: 50%;

        &[data-pagination-slot='-1'] {
          top: 0;
        }
        &[data-pagination-slot='1'] {
          bottom: -100lvh;
        }
      }
      &[data-pagination-slot-hydrated] {
        display: contents;
      }
    }
  }
}
