@layer theme {
  :root {
    --spacing: 0.25rem;
    --sp: var(--spacing);

    --radius-xs: calc(0.25 * var(--sp));
    --radius-sm: calc(0.5 * var(--sp));
    --radius: calc(1 * var(--sp));
    --radius-md: calc(2 * var(--sp));
    --radius-lg: calc(3 * var(--sp));
    --radius-xl: calc(4 * var(--sp));
    --radius-2xl: calc(6 * var(--sp));
  }
}

@layer base {
  body {
    scrollbar-gutter: stable;
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
  }

  :where(*) {
    outline-offset: 0;
  }

  :where(*:focus-visible) {
    box-shadow: none;
    outline: var(--color-accent-1) solid 2px;
    outline-offset: 5px;
  }

  :where(*:focus-visible:not(:hover, :active)) {
    transition: all 0.1s var(--ease-out) !important;
  }
}
